<div id="main-menu" role="navigation">
		<div id="main-menu-inner">
			<ul class="navigation">
				<li>
					<%= link_to root_path do  %>
						<i class="menu-icon fa fa-dashboard"></i><span class="mm-text">代办任务</span>
					<% end %>
				</li>
				<li class="mm-dropdown">
					<a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">公告管理模块</span></a>
          <ul>
            <li>
							<%=link_to  '文章类别管理' , admin_article_categories_path , class:"mm-text" , tabindex: "-1"%>
            </li>
            <li>
            	<%=link_to  '新增文章' , new_admin_article_path , class:"mm-text" , tabindex: "-1"%>
            </li>
            <li>
							<%=link_to  '文章列表' , admin_articles_path , class:"mm-text" , tabindex: "-1"%>
            </li>
          </ul>
        </li>
        	<li>
					<%= link_to '/pix/index.html', target: '_blank' do  %>
						<i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Template Demo</span>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
