<div id="demo01" class="flexslider clearfix">
  <ul class="slides">
    <li><div class="img"><img src="/plugins/images/icon_13.png"alt="" /></div></li>
    <li><div class="img"><img src="/plugins/images/icon_13.png"alt="" /></div></li>
    <li><div class="img"><img src="/plugins/images/icon_13.png"alt="" /></div></li>
    <li><div class="img"><img src="/plugins/images/icon_13.png"alt="" /></div></li>
    <li><div class="img"><img src="/plugins/images/icon_13.png"alt="" /></div></li>
  </ul>
</div>
<div class="floor_one pt15 clearfix">
  <div class="floor_one_left">
    <div class="floor_one_tittle clearfix">
      <h1><%=link_to '行业资讯' , article_list_path %></h1><span>一起关注红豆杉吧</span>
    </div>
    <div class="floor_one_content">
      <div class="floor_one_content_zynr clearfix">
        <div class="floor_one_content_left">
          <img src="/plugins/images/icon_16.png">
        </div>
        <div class="floor_one_content_right">
          <h1><%=@profile.title if @profile.present?%></h1>
          <p><%= @profile.content.html_safe  if @profile.present?%></p>
        </div>
      </div>
      <ul class="floor_one_content_hyzxnr clearfix">
      <%if @hyzx.present?%>
        <% @hyzx.each do |info, index| %>
        <li>
        <%= link_to  truncate_html(info.title.html_safe,word_boundary: false, length:25, omission:""), article_path(info), target: "_blank",title: info.title %><span>[<%=show_date info.publish_time %>]</span><br>
        </li>
        <%end%>
        <%end%>
      </ul>
    </div>
  </div>
  <div class="floor_one_right">
    <div class="floor_one_right_tittle"><h1><%=link_to '红豆杉百科' , knowledge_list_path %></h1></div>
    <ul class="floor_one_right_content ">
      <% if @knowledge.present?%>
        <% @knowledge.each do |know, index|%>
        <li>
          <%=link_to  truncate_html(know.title.html_safe,word_boundary: false, length:25, omission:""), article_path(know), target: "_blank",title: know.title %><br>
          </li>
      <%end%>
      <%end%>
    </ul>
  </div>
</div>
