<div class="nav_width clearfix">
	<ul class="nav clearfix">
		<li class="li_other"><a href="<%=root_path%>">首页</a></li>
		<li><a href="<%=article_list_path%>">行业资讯</a></li>
		<li><a href="#">产品展示</a></li>
		<li><a href="<%= message_path%>">留言板</a></li>
		<li><a href="<%= recruitment_path%>">人才招聘</a></li>
		<li><a href="<%=about_path %>">关于我们</a></li>
		<li style="border:none"><a href="<%=contract_us_path%>">联系我们</a></li>
	</ul>
</div>
