
<h5 class='mt20' style="margin-left:50px"><%= @article_category.try(:id).present? ? "修改-#{@article_category.name}" : "新建权限菜单" -%></h5>

<%= simple_form_for [:shield, @article_category], as: :article_category, html: {class: 'valid_engine'}  do |f| %>
<div class="am-g am-margin-top">
  <div class="am-u-sm-4 am-u-md-2 am-text-right">
     <%= require_span %>名称:
  </div>
  <div class="am-u-sm-8 am-u-md-10">
     <%= f.text_field :name, class: "validate[required]  am-form-field am-input-sm" %>  
  </div>
</div>
<div class="am-g am-margin-top">
  <div class="am-u-sm-4 am-u-md-2 am-text-right">
     父节点:
  </div>
  <div class="am-u-sm-8 am-u-md-10">
    <%= f.input :parent_id, label: false do %>
    <%= f.hidden_field :parent_id  %>
    <%= dynamic_selects ArticleCategory, @article_category.parent_id,  "article_category_parent_id" %>
    <% end -%> 
  </div>
</div>
<div class="am-g am-margin-top">
  <div class="am-u-sm-4 am-u-md-2 am-text-right">
     状态:
  </div>
  <div class="am-u-sm-8 am-u-md-10">
   <%= f.radio_button :usable, true %>正常
   <%= f.radio_button :usable, false %>停用
  </div>
</div>
<div class="am-g am-margin-top">
  <div class="am-u-sm-4 am-u-md-6 am-text-right">
    <%= f.submit '提交', class: 'am-btn am-btn-primary am-btn-xs' %>
  </div>
</div>


<% end -%>
